* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --background: rgb(232, 252, 252);
  --primary: #00adad;
  --button: linear-gradient(0deg, rgb(1, 116, 116) 0%, rgb(95, 253, 253) 100%);
  --shadow: 0 0 3px var(--primary);
}

nav menu {
  list-style: none;
  grid-area: nav;
}

body {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
}

/* HEADER HTML */

header {
  box-shadow: 0 0 3px var(--primary);
  color: var(--primary);

  grid-area: header;
}

header form {
  width: fit-content;
  box-shadow: var(--shadow);
  align-self: center;
  display: flex;
}

header form label {
  display: none;
}

header form input {
  padding: 0.2rem;
  outline: none;
  border: none;
}

header form button {
  border: none;
  background: var(--button);
  color: white;
  padding: 0.2rem;
  font-weight: bold;
}

header menu a {
  font-size: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-size: contain;

  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 50px;
}

header menu a[href*="wishlist"] {
  background-image: url("icons/heart.png");
  margin-left: 150px;
}

header menu a[href*="cart"] {
  background-image: url("icons/cart.png");
}
header menu a[href*="profile"] {
  background-image: url("icons/user.png");
  margin-right: 150px;
}

/* NAV*/

body > nav menu a {
  color: var(--primary);
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
}

body > nav menu a:hover {
  background: var(--background);
}

/* MAIN */

main {
  background: var(--background);
  padding: 1rem;
  margin-bottom: 50px;
  grid-area: main;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

article {
  background: white;
  box-shadow: var(--shadow);
  width: 10rem;
  height: 20rem;
  border-radius: 10px;

  margin-bottom: 20px;
}

article img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  display: flex;
  justify-content: flex-end;
}

article *:not(img) {
  margin: 0.5rem 1rem;
}

article p.price {
  text-align: right;
}

/* Footer */

footer a {
  color: var(--primary);
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
}

@media (min-width: 600px) {
  /* HEADER */

  header {
    z-index: 1;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
  }

  h1 {
    align-self: center;
    margin: 15px 15px;
  }

  /* NAV */

  body > nav {
    padding-top: 1rem;
  }
}
