body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: cornflowerblue;
  text-align: center;
  margin: 0 auto;
  height: 100px;
}

h1 {
  margin: -20px;
  padding-top: 30px;
  color: beige;
}

h2 {
  color: cornflowerblue;
  margin-left: 20px;
}

.importante {
  text-decoration: underline;
  font-weight: bold;
}

li {
  padding-bottom: 15px;
  margin-left: 20px;
}

thead {
  background-color: cornflowerblue;
  color: blanchedalmond;
}

th {
  padding: 15px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: rgb(144, 159, 228);
}

#descanso {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(224, 228, 238);
}

tr:nth-child(even) {
  background-color: rgba(141, 157, 228, 0.472);
}

tbody {
  background-color: rgba(224, 228, 238, 0.363);
}

td {
  padding: 15px;
  padding-right: 30px;
  padding-left: 30px;
}
tr > th {
  background-color: rgba(100, 148, 237, 0.609);
}
